.projectcard {
  display: flex;
  flex-direction: column;
  margin: 0px 30px 30px 0px;

  min-height: fit-content;
  justify-content: center;
}

.projectcard img:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.projectcard img {
  height: 300px;
  width: 450px;
  border-radius: 20px;
  box-shadow: 10px 20px 10px #000000;
  transition: all 0.3s ease-in-out;
}

.projectcard h2 {
  animation: fadeInUp 1s both 0.2s
}

.projectcard h5 {
  color: #a0a0a0;
  animation: fadeInUp 1s both 0.4s
}

.projectcard p {
  animation: fadeInUp 1s both 0.6s
}

.projectcard .imagecontainer img {
  border: 2px solid #f5f5f5;
}

.projectcard a {
  color: #f5f5f5;
  text-decoration: none;
}



@media only screen and (max-width: 850px) {
  .projectcard {
    flex-direction: column;
  }
  .projectcard img {
    height: 125px;
    width: 200px;
  }
}
