.greysection {
    background-color: #111111;
    padding: 20px;
    margin: 100px 50px;
    border-radius: 50px;
    box-shadow: 10px 20px 10px #000000;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}